@use "./../mixins.scss" as *;

.footer {
  display: flex;
  display: none;
  flex-wrap: wrap;
  padding: 48px 8px;
  overflow-wrap: break-word;

  &__address {
    &-title {
      font-style: normal;
    }

    &-link {
      min-width: 0;
      height: 1.2rem;
      padding-block: 0.2rem;

      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;
      border: solid 1px #10101247;

      @include hover(transform, scale(1.03));
    }

    &-icon {
      height: 1rem;
      object-fit: contain;
    }
  }
}
