@use "./../mixins.scss" as *;

.footer {
  &__content {
    display: block;
    width: calc(100% + 2 * $mobile-padding);
    padding: 0;
    margin-left: -$mobile-padding;
    background-color: rgba($color-highlight-background, 0.43);

    @include on-tablet {
      width: 100%;
      margin: 0;

      background-color: rgba($color-highlight-background, 0.83);
      border: solid 1px #10101247;
      border-radius: 0.5em;
      box-shadow: 0.8em 0.3em 0.3em #393a3d38;
    }
  }

  &__address {
    display: flex;
    gap: 0.5rem;
    align-items: stretch;

    height: fit-content;
    padding: 0.5rem;

    &-title {
      display: flex;
      align-items: center;
      font-style: normal;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      min-width: 0;
      height: fit-content;
      padding-block: 0.2rem;
      color: #000;
      text-decoration: none;

      @include hover(transform, scale(1.03));
    }

    &-icon {
      flex-shrink: 0;
      width: auto;
      height: 1rem;
      margin-right: 4px;
    }
  }
}
