@use "./../mixins.scss" as *;

.header {
  &__content {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    width: calc(100% + 2 * $mobile-padding);
    padding: 0;
    margin-left: -$mobile-padding;
    background-color: rgba($color-highlight-background, 0.43);

    @include on-tablet {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      background-color: rgba($color-highlight-background, 0.83);
      border: solid 1px #10101247;
      border-radius: 0.5em;
      box-shadow: 0.8em 0.3em 0.3em #393a3d38;

      @include on-desktop {
        flex-direction: row;
        padding-inline: 0;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 4 * $base-font-size;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    paint-order: stroke fill;
    -webkit-text-stroke: 3px #d9eced;

    @include on-tablet {
      font-size: 5 * $base-font-size;
    }

    @include on-desktop {
      flex-grow: 1;
    }

    &-lens {
      position: relative;
      color: #357adb;

      &::after {
        position: absolute;

        top: 50%;
        left: 50%;

        width: 47%;
        height: 33%;
        content: "";

        background: url("/img/lens.png") no-repeat center center / cover;
        border-radius: 50%;
        box-shadow: 0 0 6px 1px #fff;
        transform: translate(-50%, -26%);
      }

      &--is-samsung::after {
        display: none;
      }
    }
  }

  &__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 0.5rem;
    margin: 0 2rem;

    border-top: 1px solid #10101247;

    @include on-desktop {
      flex-direction: column;
      margin-inline: 0;

      border-top: none;
      border-left: 1px solid #10101247;
    }

    &-phone,
    &-mail {
      display: flex;
      display: flex;
      gap: 0.5rem;
      height: 1.2em;
      margin-inline: 2rem;
      font-size: 1rem;
      color: black;
      text-decoration: none;

      @include hover(transform, scale(1.03));
    }

    &-icon {
      height: 1em;
      object-fit: contain;
    }
  }
}
