@use "./../mixins.scss" as *;

.page {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  margin: 0;
  padding: 0;
  min-width: $mobile-min-width;

  font-family: "Roboto", sans-serif;
  font-size: $base-font-size;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: 300;
  min-height: $min-height;

  @include on-tablet {
    overflow-y: scroll;
  }

  &__body {
    min-width: $mobile-min-width;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    min-height: $min-height;
    box-sizing: border-box;

    background:
      linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
      url("/img/background.jpg") no-repeat center / cover;

    @include on-tablet {
      padding-block: 1rem;
    }

    @include on-desktop {
      padding-block: 1rem;
    }
  }

  &__content {
    display: flex;
    max-height: $max-body-height;
    flex-grow: 1;
    flex-direction: column;
  }
}
