@use "./blocks/page.scss";
@use "./blocks/services.scss";
@use "./blocks/service.scss";
@use "./blocks/header.scss";
@use "./blocks/footer.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

